/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Body font */
@font-face {
  font-family: 'merriweatherregular';
  src: url('./fonts/merriweather-regular-webfont.woff2') format('woff2'),
       url('./fonts/merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'merriweatherregular';
}

/* header font */
@font-face {
  font-family: 'robotoregular';
  src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('./fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'robotoregular';
}

html {
  font-size: 16px;
}

/* modify font-size selectors */
h1, h2 {
  font-size: 2.2rem;
  letter-spacing: 0.05rem;
}

p{
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
}

/* header center */
h1 {
  text-align: center;
}