html {
  font-family: sans-serif;
}

/* Your CSS below here */
div{
  background: linear-gradient(to top left, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0.2) 30%, rgb(0, 0, 0, 0.2) 100%);
  border: 1px solid darkblue;
  background-color: lightblue;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  
}